@model TechAcadStudentsMVC.Models.Instructor
@{
    ViewBag.Title = "Instructor";
}

<h2>Instructor</h2>

<p>Details for Instructor possessing ID: @ViewBag.id</p>
<p>Further details:</p>
<ul>
    <li>Another ID: @Model.Id</li>
    <li>First Name: @Model.FirstName</li>
    <li>Last Name: @Model.LastName</li>
</ul>

