@model decimal
@{
    ViewBag.Title = "Calculate";
}
<body background="../../Content/porsche-911.jpg">
<h2 class="text-success">Nice Work!</h2>
<h4 class="text-danger">Based on the info you entered, your monthly quote is $@Model!</h4>
</body>

